{% extends 'base.html' %}

{% load static %}

{% block titulo %}Suplementos{% endblock%}

{% block contenido%}
<br><br>
<form id="mainBusca" action="/buscar/" method="get">
    <label for="busca">Buscando algun producto en particular?</label><br>
    <input id="boxBusca" type="text" name="busca">
    <input id="buttonBusca" type="submit" value="Buscar">
</form>
<br><br>
<h2 style="margin: 0px auto 0px 10%; font-style: italic;">SUPLEMENTOS:</h2>
<div class="products">
    {% for Suplementos in prodsSu %}
    <div class="product">
        <img src="{{Suplementos.imagen.url}}" alt="{{Suplementos.nombre}}">
        <h3>{{Suplementos.nombre}}</h3>
        <p>{{Suplementos.precio}}</p>
    </div>
    {% endfor %}
</div>
<br><br>
{% endblock%}